@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/Georgia.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/Arial.ttf);
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}

html {
    scroll-behavior: smooth;
}

/* ============ layout styles ============= */

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0;
    width: 1200px;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 443px;
    height: 27px;
    list-style: none;
}

#start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 908px;
}

.start-content {
    display: flex;
    margin: 180px auto 0 auto;
    width: 1200px;
    height: 728px;
}

.start-text {
    width: 502px;
    height: 322px;
    margin: 163px 0 0 0;
}

.start-image {
    width: 698px;
    height: 728px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

#about {
    height: 588px;
    margin-top: 908px;
    background-color: var(--color-light-xl);
}

.about-content {
    display: flex;
}

.about-image {
    width: 300px;
    height: 408px;
    margin: 0 120px 0 175px;
}

.about-text {
    width: 605px;
    height: 380px;
    margin: 14px 0;
}

#pets {
    height: 877px;
    background-color: var(--color-light-l);
}

.pets-content {
    text-align: center;
}

.pets-content h2 {
    text-align: center;
}

.pets-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.card {
    width: 270px;
    height: 435px;
}

#help {
    height: 611px;
    background-color: var(--color-light-xl)
}

.help-content h2 {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 21px 0 14px;
    justify-content: space-evenly;
    align-content: space-between;
    height: 281px;
}

.list-item {
    flex-basis: 20%;
    text-align: center;
}

#donation {
    height: 462px;
    background-color: var(--color-light-l);
}

.donation-content {
    display: flex;
    width: 915px;
}

.donation-img {
    height: 261px;
    width: 505px;
    margin-right: 30px;
    margin-top: 12px;
}

.donation-text {
    width: 380px;
}

footer {
    height: 350px;
    background-image: url(../../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.footer-content div {
    display: flex;
    flex-direction: column;
}

/* ============ other styles ============= */

/* h2 */
h2,
h3 {
    margin-bottom: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
}

h2 {
    color: var(--color-light-xl);
}

/* h3 */
h3 {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

h1 {
    margin: 0;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

a {
    text-decoration: none;
}

.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.paragraph-l {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
}

.logo p {
    margin: 10px 4px;
}

header nav ul li a:hover {
    color: var(--color-light-s);
}

.active-link {
    color: var(--color-light-s);
    padding-bottom: 4px;
    border-bottom: 3px solid var(--color-primary);
}

a.paragraph-l {
    line-height: 55px;
}

.start-text p {
    margin: 42px 0;
}

.start-text a {
    display: block;
    width: 207px;
    padding: 15px;
    border-radius: 100px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    background-color: var(--color-primary);
    transition: 0.4s;
}

.start-text a:hover {
    background-color: var(--color-primary-light);
}

.about-text .paragraph-l {
    color: var(--color-dark-xl);
}

.about-text p:last-child {
    margin-top: 25px;
}

.pets-content h3 {
    margin-bottom: 60px;
}

.arrow {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-color: transparent;
    font-weight: bold;
    transition: 0.4s;
}

.arrow:hover {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
    cursor: pointer;
}

.card {
    border-radius: 9px;
    background-color: var(--color-light-s);
    transition: 0.4s;
}

.card:hover {
    cursor: pointer;
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card p {
    margin: 25px 0 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.card a {
    display: block;
    width: 187px;
    height: 52px;
    padding: 15px 0;
    margin: 0 auto;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: 0.4s;
}

.card:hover a {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}

.pets-content>a {
    display: block;
    width: 261px;
    margin: 60px auto 0 auto;
    padding: 15px;
    background-color: var(--color-primary);
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: 0.4s;
}

.pets-content>a:hover {
    background-color: var(--color-primary-light);
}

.help-content {
    text-align: center;
}

.help-content h3 {
    margin-bottom: 60px;
}

.list-item:nth-child(3) {
    padding-right: 13px;
}

.list-item:nth-child(4) {
    padding-right: 26px;
}

.list-item:nth-child(6) {
    margin-left: 70px;
}

.list-item:nth-child(7) {
    padding-right: 64px;
}

.list-item:nth-child(8) {
    padding-right: 53px;
}

.list-item:nth-child(9) {
    margin-right: 90px;
}

.list p {
    margin-top: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-content h3 {
    margin-bottom: 20px;
}

.donation-text p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.donation-text a {
    display: block;
    width: 349px;
    padding: 9px 15px;
    margin: 22px 0 18px 0;
    background: var(--color-primary);
    border-radius: 9px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    transition: 0.4s;
}

.donation-text a:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.donation-text a img {
    width: 30px;
    height: 23px;
    margin-right: 8px;
    vertical-align: middle;
}

.donation-text span {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark-m);
}

.footer-content h3 {
    margin-top: 18px;
    color: var(--color-light-xl);
}

.footer-content a {
    display: flex;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer-content a span {
    display: block;
}

.footer-contacts a span {
    padding: 6px 0 0 20px;
}

.footer-locations a span {
    padding: 1px 0 8px 20px;
}

.footer-locations a:nth-of-type(2) span {
    padding: 6px 0 0 20px;
}

.footer-locations img {
    height: 32px;
    width: 22px;
}

.footer-contacts a img {
    height: 32px;
    width: 40px;
}

.footer-contacts a:nth-of-type(1) {
    margin-top: 14px;
    margin-bottom: 40px;
}

.footer-locations {
    margin-right: 7px;
}

.footer-locations a:nth-of-type(1) {
    margin-top: 8px;
    margin-bottom: 23px;
}

.footer-locations a:nth-of-type(1) img {
    margin-bottom: 10px;
}

@media (max-width: 1279px) {
    header,
    .start-content,
    .container {
        max-width: 768px;
    }

    header {
        margin: 30px 0 10px 0;
        padding: 0 30px;
    }

    #start {
        height: 1165px;
    }

    .start-content {
        margin: 140px auto 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .start-text {
        margin: 10px 0;
        width: 459px;
    }

    .start-text a {
        margin: 0 auto;
    }

    .start-image {
        position: absolute;
        bottom: 0;
        right: 30px;
        width: 569px;
        height: 593px;
    }

    .start-image img {
        height: inherit;
    }

    #about {
        height: 1048px;
        margin-top: 1165px;
    }

    .about-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-text {
        width: 429px;
        height: auto;
        margin: 0;
    }

    .about-image {
        margin: 80px 0;
      }

    #pets {
        height: 877px;
    }

    .pets-slider {
        padding: 0 30px;
    }

    .cards {
        width: 580px;
    }

    .card:nth-of-type(3) {
        display: none;
    }

    #help {
        height: 779px;
    }

    .list {
        height: 450px;
        padding: 0 40px 0 40px;
    }

    .list-item {
        flex-basis: calc(100% / 3);
    }

    .list-item:nth-child(3) {
        padding-right: 0;
    }
    
    .list-item:nth-child(4) {
        padding-right: 0;
    }
    
    .list-item:nth-child(6) {
        margin-left: 0;
    }
    
    .list-item:nth-child(7) {
        padding-right: 0;
    }
    
    .list-item:nth-child(8) {
        padding-right: 0;
    }
    
    .list-item:nth-child(9) {
        margin-right: 0;
    }

    #donation {
        height: 783px;
    }

    .donation-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation-img {
        margin-right: 0;
        margin-top: 56px;
    }

    footer {
        height: 639px;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-content div {
        flex-basis: 42%;
    }

    .footer-content h3 {
        margin-top: 0;
    }

    .footer-locations {
        margin-right: 0;
        padding: 0 14px;
    }

    .footer-img {
        margin-top: 56px;
    }

    .footer-img img {
        margin: 0 auto;
        height: 310px;
        width: 300px;
    }
}